<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.guochun.psmc.inquest.model.TabYcRegionCoordinate" >

  <resultMap id="BaseResultMap" type="priv.guochun.psmc.inquest.model.TabYcRegionCoordinate" >
    <result column="coord_uuid" property="coordUuid" jdbcType="VARCHAR" />
    <result column="region_type" property="regionType" jdbcType="VARCHAR" />
    <result column="region_name" property="regionName" jdbcType="VARCHAR" />
    <result column="region_addr" property="regionAddr" jdbcType="VARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />

    <result column="regionTypeName" property="regionTypeName" />
  </resultMap>

  <sql id="Base_Column_List" >
    coord_uuid, region_type, region_name, region_addr, coordinate, is_active,
    create_time, modify_time, creator
  </sql>

  <select id="selectRegionCoordinatePage" resultMap="BaseResultMap" parameterType="hashmap">
    SELECT a.*,
           b.DICT_NAME AS regionTypeName
    FROM
      tab_yc_region_coordinate a
    inner JOIN tab_data_dict b ON a.region_type = b.DICT_ID and b.DICT_NO = 'REGION_TYPE'
    where 1=1
    <if test="isActive != null ">
      and a.is_active = #{isActive}
    </if>
    <if test="regionType != null and regionType != ''">
      and a.region_type = #{regionType}
    </if>
    <if test="coordUuid != null and coordUuid != ''">
      and a.coord_uuid = #{coordUuid}
    </if>
    <if test="regionName != null and regionName != ''">
      and a.region_name like concat('%', #{regionName}, '%')
    </if>
    <if test="orgCode != null and orgCode != ''">
      and a.org_code in (
      select DISTINCT child.group_code
      from tab_group child, tab_group parent
      where find_in_set(parent.group_code, #{orgCode}) > 0
      and child.group_code like concat(parent.group_code, '%')
      )
    </if>
    <if test="onlyOrgCode != null and onlyOrgCode != ''">
      and a.org_code = #{onlyOrgCode}
    </if>
  </select>

  <insert id="insert" parameterType="priv.guochun.psmc.inquest.model.TabYcRegionCoordinate" >
    insert into tab_yc_region_coordinate (coord_uuid, region_type, region_name, 
      region_addr, coordinate, org_code, org_name,
      is_active, create_time, modify_time, 
      creator)
    values (#{coordUuid,jdbcType=VARCHAR}, #{regionType,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{regionAddr,jdbcType=VARCHAR}, #{coordinate,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},#{orgName,jdbcType=VARCHAR},
      #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="priv.guochun.psmc.inquest.model.TabYcRegionCoordinate" >
    insert into tab_yc_region_coordinate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coordUuid != null" >
        coord_uuid,
      </if>
      <if test="regionType != null" >
        region_type,
      </if>
      <if test="regionName != null" >
        region_name,
      </if>
      <if test="regionAddr != null" >
        region_addr,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coordUuid != null" >
        #{coordUuid,jdbcType=VARCHAR},
      </if>
      <if test="regionType != null" >
        #{regionType,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionAddr != null" >
        #{regionAddr,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByIdSelective" parameterType="map" >
    update tab_yc_region_coordinate
    <set >
      <if test="record.regionType != null" >
        region_type = #{record.regionType,jdbcType=VARCHAR},
      </if>
      <if test="record.regionName != null" >
        region_name = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionAddr != null" >
        region_addr = #{record.regionAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.coordinate != null" >
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        org_Name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.isActive != null" >
        is_active = #{record.isActive,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
    </set>
    where coord_uuid = #{record.coordUuid,jdbcType=VARCHAR}
  </update>

  <update id="updateById" parameterType="map" >
    update tab_yc_region_coordinate
    set
      region_type = #{record.regionType,jdbcType=VARCHAR},
      region_name = #{record.regionName,jdbcType=VARCHAR},
      region_addr = #{record.regionAddr,jdbcType=VARCHAR},
      coordinate = #{record.coordinate,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_Name = #{record.orgName,jdbcType=VARCHAR},
      is_active = #{record.isActive,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR}
    where coord_uuid = #{record.coordUuid,jdbcType=VARCHAR}
  </update>

</mapper>