<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tab_yc_wait_queue_cfg">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="priv.guochun.psmc.inquest.model.TabYcWaitQueueCfg" id="waitQueueCfgMap">
        <result property="cfgUuid" column="cfg_uuid"/>
        <result property="orgName" column="org_name"/>
        <result property="orgCode" column="org_code"/>
        <result property="defaultLongitude" column="default_longitude"/>
        <result property="defaultLatitude" column="default_latitude"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="contactTel" column="contact_tel"/>
        <result property="addressLongitude" column="address_longitude"/>
        <result property="addressLatitude" column="address_latitude"/>
        <result property="workTime" column="work_time"/>
        <result property="isFictitiousGrid" column="is_fictitious_grid"/>
        <result property="overdueDays" column="overdue_days"/>
        <result property="isClosedRetain" column="is_closed_retain"/>
        <result property="closedRetainDays" column="closed_retain_days"/>
        <result property="qrcodePath" column="qrcode_path"/>
        <result property="sort" column="sort"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="creator" column="CREATOR"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>


    <select id="selectWaitQueueCfgList" resultMap="waitQueueCfgMap" parameterType="hashmap">
        SELECT
            a.*
        FROM
            tab_yc_wait_queue_cfg a
        WHERE a.is_active=1
        <if test="orgCode != null and orgCode != ''">
            and a.org_code in (
                select group_code
                from tab_group
                WHERE parent_group_code = #{orgCode}
                or group_code = #{orgCode}
            )
        </if>
        ORDER BY a.sort ASC
    </select>


    <insert id="insertWaitQueueCfgSelective" parameterType="priv.guochun.psmc.inquest.model.TabYcWaitQueueCfg">
        insert into tab_yc_wait_queue_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cfgUuid != null">
                cfg_uuid,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="defaultLongitude != null">
                default_longitude,
            </if>
            <if test="defaultLatitude != null">
                default_latitude,
            </if>
            <if test="contactAddress != null">
                contact_address,
            </if>
            <if test="contactTel != null">
                contact_tel,
            </if>
            <if test="addressLongitude != null">
                address_longitude,
            </if>
            <if test="addressLatitude != null">
                address_latitude,
            </if>
            <if test="workTime != null">
                work_time,
            </if>
            <if test="isFictitiousGrid != null">
                is_fictitious_grid,
            </if>
            <if test="overdueDays != null">
                overdue_days,
            </if>
            <if test="isClosedRetain != null">
                is_closed_retain,
            </if>
            <if test="closedRetainDays != null">
                closed_retain_days,
            </if>
            <if test="qrcodePath != null">
                qrcode_path,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cfgUuid != null">
                #{cfgUuid,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="defaultLongitude != null">
                #{defaultLongitude,jdbcType=VARCHAR},
            </if>
            <if test="defaultLatitude != null">
                #{defaultLatitude,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="addressLongitude != null">
                #{addressLongitude,jdbcType=VARCHAR},
            </if>
            <if test="addressLatitude != null">
                #{addressLatitude,jdbcType=VARCHAR},
            </if>
            <if test="workTime != null">
                #{workTime,jdbcType=VARCHAR},
            </if>
            <if test="isFictitiousGrid != null">
                #{isFictitiousGrid,jdbcType=BIT},
            </if>
            <if test="overdueDays != null">
                #{overdueDays,jdbcType=INTEGER},
            </if>
            <if test="isClosedRetain != null">
                #{isClosedRetain,jdbcType=BIT},
            </if>
            <if test="closedRetainDays != null">
                #{closedRetainDays,jdbcType=INTEGER},
            </if>
            <if test="qrcodePath != null">
                #{qrcodePath,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateWaitQueueCfgSelective" parameterType="priv.guochun.psmc.inquest.model.TabYcWaitQueueCfg">
        update tab_yc_wait_queue_cfg
        <set>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="defaultLongitude != null">
                default_longitude = #{defaultLongitude,jdbcType=VARCHAR},
            </if>
            <if test="defaultLatitude != null">
                default_latitude = #{defaultLatitude,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                contact_address = #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                contact_tel = #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="addressLongitude != null">
                address_longitude = #{addressLongitude,jdbcType=VARCHAR},
            </if>
            <if test="addressLatitude != null">
                address_latitude = #{addressLatitude,jdbcType=VARCHAR},
            </if>
            <if test="workTime != null">
                work_time = #{workTime,jdbcType=VARCHAR},
            </if>
            <if test="isFictitiousGrid != null">
                is_fictitious_grid = #{isFictitiousGrid,jdbcType=BIT},
            </if>
            <if test="overdueDays != null">
                overdue_days = #{overdueDays,jdbcType=INTEGER},
            </if>
            <if test="isClosedRetain != null">
                is_closed_retain = #{isClosedRetain,jdbcType=BIT},
            </if>
            <if test="closedRetainDays != null">
                closed_retain_days = #{closedRetainDays,jdbcType=INTEGER},
            </if>
            <if test="qrcodePath != null">
                qrcode_path = #{qrcodePath,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where cfg_uuid = #{cfgUuid,jdbcType=VARCHAR}
    </update>

</mapper>