<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-lazy-init="false" default-autowire="byName">


	<bean id="cityService" class="priv.guochun.psmc.system.common.city.service.impl.CityServiceImpl" />

	<bean id="cityDao" class="priv.guochun.psmc.system.common.city.dao.CityDaoImplMybatis" />
	
	<bean id="tabDataDictService" class="priv.guochun.psmc.system.common.dict.service.impl.TabDataDictServiceImpl" />

	<bean id="tabDataDictDao" class="priv.guochun.psmc.system.common.dict.dao.TabDataDictDaoImplMybatis" />
	
	<bean id="tSysOperLogService" class=" priv.guochun.psmc.system.common.log.service.impl.TSysOperLogServiceImpl" />
	
	<bean id="verificationCodeService" class=" priv.guochun.psmc.system.common.vcode.service.impl.VerificationCodeServiceImpl" />
	
	<bean id="tSysOperLogDao" class="priv.guochun.psmc.system.common.log.dao.impl.TSysOperLogDaoImpl" />
	
	<bean id="tabSysConfigService" class="priv.guochun.psmc.system.common.sysConfig.service.impl.TabSysConfigServiceImpl"/>
	
	<bean id="logOperJobDetail"  
	    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
	    <property name="jobClass">  
	        <value>priv.guochun.psmc.system.common.log.quartz.LogOperTask</value>  
	    </property>  
	    <property name="name" value="logOperJobDetail"></property>  
	    <property name="durability" value="true" />  
	</bean>
	
	
	<!-- 调度触发器 -->
	 <bean id="logOperCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		 <property name="jobDetail" ref="logOperJobDetail" />
		 <!-- 每10分钟执行一次	  -->
		 <property name="cronExpression" value="0 * * * * ?" />
	 </bean>
	
</beans>
