<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:jaxrsclient="http://cxf.apache.org/jaxrs-client"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/aop   
    	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    	http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/jaxrs-client
        http://cxf.apache.org/schemas/jaxrs-client.xsd"
    	
    	
	default-lazy-init="false" default-autowire="byName">
	
	
    	<!-- cxf服务servlet的初始化 -->
        <import resource="classpath:META-INF/cxf/cxf.xml" />
        <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
            
<!-- 网站前端导航栏dao注入 -->
	<bean id="tabNavBarDao"
		class="priv.guochun.psmc.website.backstage.navbar.dao.impl.TabNavBarDaoImpl" />
<!-- 网站前端导航栏service注入 -->
	<bean id="tabNavBarService"
		class="priv.guochun.psmc.website.backstage.navbar.service.impl.TabNavBarServiceImpl" />
	<!-- 网站新闻dao注入 -->
	<bean id="tabNewsDao"
		class="priv.guochun.psmc.website.backstage.news.dao.impl.TabNewsDaoImpl" />
	<!-- 网站新闻service注入 -->
	<bean id="tabNewsService"
		class="priv.guochun.psmc.website.backstage.news.service.impl.TabNewsServiceImpl" />
	<!-- 网站模块dao注入 -->
	<bean id="tabModuleDao"
		class="priv.guochun.psmc.website.backstage.module.dao.impl.TabModuleDaoImpl" />
	<!-- 网站网站模块service注入 -->
	<bean id="tabModuleService"
		class="priv.guochun.psmc.website.backstage.module.service.impl.TabModuleServiceImpl" />
	<!-- 网站模块发布dao注入 -->
	<bean id="tabModulePublishDao"
		class="priv.guochun.psmc.website.backstage.modulepublish.dao.impl.TabModulePublishDaoImpl" />
	<!-- 网站网站模块发布service注入 -->
	<bean id="tabModulePublishService"
		class="priv.guochun.psmc.website.backstage.modulepublish.service.impl.TabModulePublishServiceImpl" />
	<bean id="tabWebUserDao"
		class="priv.guochun.psmc.website.backstage.webuser.dao.impl.TabWebUserDaoImplMybatis" />
	<!-- 网站用户管理service注入 -->
	<bean id="tabWebUserService"
		class="priv.guochun.psmc.website.backstage.webuser.service.impl.TabWebUserServiceImpl" />
	
	<!-- 公共dao注入 -->
	<bean id="baseDao" class="priv.guochun.psmc.website.backstage.common.impl.BaseDaoImpl"/>	
	<!-- 信息发布service注入 -->
	<bean id="infoReleaseService" class="priv.guochun.psmc.website.backstage.InfoRelease.service.impl.InfoReleaseServiceImpl"/>
	<!-- 优秀创新service注入 -->
	<bean id="excellentInnovationService" class="priv.guochun.psmc.website.backstage.excellentInnovation.service.impl.ExcellentInnovationServiceImpl"/>
	<!-- 浏览量service注入 -->
	<bean id="tabPageViewService" class="priv.guochun.psmc.website.backstage.pageView.service.impl.TabPageViewServiceImpl"/>
	<!-- 活动信息service注入 -->
	<!-- 申报service 注入-->
	<bean id="reportService" class="priv.guochun.psmc.website.backstage.report.service.impl.ReportServiceImpl"/>
	<!-- 申报回复service 注入 -->
	<bean id="reportReplyRelService" class="priv.guochun.psmc.website.backstage.report.service.impl.ReportReplyRelServiceImpl"/>
	<!--申报、回复关联关系service注入-->
	<bean id="replyService" class="priv.guochun.psmc.website.backstage.report.service.impl.ReplyServiceImpl"/>
	<bean id="tabActivityManageService" class="priv.guochun.psmc.website.backstage.activity.service.impl.TabActivityManageServiceImpl"/>
	
	<bean id="chjghWeChatService" class="priv.guochun.psmc.website.backstage.common.impl.ChjghWeChatServiceImpl" />
	<!-- 部门信息service注入 -->
	<bean id="tabDeptService" class="priv.guochun.psmc.website.backstage.dept.service.impl.TabDeptServiceImpl" />
	
	 <jaxrs:server id="chjghWeChatCxfService" address="/chjgh" >
                <jaxrs:serviceBeans>
                    <ref bean="chjghWeChatService" />
                </jaxrs:serviceBeans>
                <!-- 输入日志拦截器 -->
                <jaxrs:inInterceptors>
                    <ref bean="loggingInInterceptor"/>
                </jaxrs:inInterceptors>
                <!-- 输出日志拦截器 -->
                <jaxrs:outInterceptors>
                    <ref bean="loggingOutInterceptor" />
                </jaxrs:outInterceptors>
                <!--对象转换-->
		        <jaxrs:providers>
		            <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>
		        </jaxrs:providers>
     </jaxrs:server>
	
	 <bean id="chjghMobileSmsSendService" class="priv.guochun.psmc.system.framework.sms.service.impl.ChjghMobileSmsSendServiceImpl" />
	
	
</beans>
