<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/aop   
    	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
	default-lazy-init="false" default-autowire="byName">
<!-- 网站前端导航栏dao注入 -->
	<bean id="tabNavBarDao"
		class="priv.guochun.psmc.website.backstage.navbar.dao.impl.TabNavBarDaoImpl" />
<!-- 网站前端导航栏service注入 -->
	<bean id="tabNavBarService"
		class="priv.guochun.psmc.website.backstage.navbar.service.impl.TabNavBarServiceImpl" />
	<!-- 网站新闻dao注入 -->
	<bean id="tabNewsDao"
		class="priv.guochun.psmc.website.backstage.news.dao.impl.TabNewsDaoImpl" />
	<!-- 网站新闻service注入 -->
	<bean id="tabNewsService"
		class="priv.guochun.psmc.website.backstage.news.service.impl.TabNewsServiceImpl" />
	<!-- 网站模块dao注入 -->
	<bean id="tabModuleDao"
		class="priv.guochun.psmc.website.backstage.module.dao.impl.TabModuleDaoImpl" />
	<!-- 网站网站模块service注入 -->
	<bean id="tabModuleService"
		class="priv.guochun.psmc.website.backstage.module.service.impl.TabModuleServiceImpl" />
	<!-- 网站模块发布dao注入 -->
	<bean id="tabModulePublishDao"
		class="priv.guochun.psmc.website.backstage.modulepublish.dao.impl.TabModulePublishDaoImpl" />
	<!-- 网站网站模块发布service注入 -->
	<bean id="tabModulePublishService"
		class="priv.guochun.psmc.website.backstage.modulepublish.service.impl.TabModulePublishServiceImpl" />
</beans>
