<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//  
EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="priv.guochun.psmc.website.backstage.webuser.model.TabWebUser">  
    <select id="getWebUserList" resultType="java.util.Map">
    	SELECT UUID, USER_ID, PASSWORD, USER_NAME, ID_CARD, PHONE FROM TAB_WEB_USER WHERE 1=1
    	<if test="userId != null and userId != ''">
    		AND USER_ID like concat(concat('%',#{userId}),'%')
    	</if>
    	<if test="userName != null and userName != ''">
    		AND USER_NAME like concat(concat('%',#{userName}),'%')
    	</if>
    </select>
    
    <select id="queryUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT COUNT(1) FROM TAB_WEB_USER WHERE USER_ID = #{userId} AND PASSWORD = #{password}
    </select>
    <select id="findUserByCondition" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT * FROM TAB_WEB_USER WHERE 1=1
    	<if test="userId != null and userId != ''">
    		AND USER_ID = #{userId}
    	</if>
    	<if test="uuid != null and uuid != ''">
    		AND UUID = #{uuid}
    	</if>
    </select>
    <update id="updateUser" parameterType="priv.guochun.psmc.website.backstage.news.model.TabNews">
  		UPDATE TAB_WEB_USER
  		<trim prefix="set" suffixOverrides=",">
	  		<if test="password != null and password != ''">
	  			password =#{password},
	  		</if>
  		</trim>
  		WHERE user_id = #{userId}
  	</update>
  	<insert id="saveTabWebUser" parameterType="priv.guochun.psmc.website.backstage.webuser.model.TabWebUser">
  		INSERT INTO tab_web_user (UUID,USER_ID,PASSWORD,USER_NAME,ID_CARD,PHONE) VALUES (#{uuid},#{userId},#{password},#{userName},#{idCard},#{phone})
  	</insert>
  	<update id="updateTabWebUserByUuid" parameterType="priv.guochun.psmc.website.backstage.webuser.model.TabWebUser">
  		UPDATE TAB_WEB_USER SET USER_ID = #{userId},PASSWORD = #{password},USER_NAME = #{userName},ID_CARD = #{idCard},PHONE = #{phone} WHERE UUID = #{uuid}
  	</update>
  	<select id="executeWebUserUniqueValidate" parameterType="priv.guochun.psmc.website.backstage.webuser.model.TabWebUser" resultType="int">
  		SELECT COUNT(1) FROM TAB_WEB_USER WHERE USER_ID = #{userId} AND UUID != #{uuid}
  	</select>
  	<delete id="deleteWebUsers" parameterType="hashmap">
  		DELETE FROM TAB_WEB_USER WHERE 1=1 AND UUID IN
  		<foreach item="item" index="index" collection="uuids" open="(" separator="," close=")">  
				  #{item}  
		</foreach> 
  	</delete>
</mapper>  