<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.guochun.psmc.website.backstage.questionnaire.model.mapper.TabQuestionnaireMapper">
  <resultMap id="BaseResultMap" type="priv.guochun.psmc.website.backstage.questionnaire.model.TabQuestionnaire">
    <id column="questionnaire_uuid" jdbcType="VARCHAR" property="questionnaireUuid" />
    <result column="questionnaire_name" jdbcType="VARCHAR" property="questionnaireName" />
    <result column="version" jdbcType="SMALLINT" property="version" />
    <result column="is_enable" jdbcType="SMALLINT" property="isEnable" />
    <result column="create_person" jdbcType="VARCHAR" property="createPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    questionnaire_uuid, questionnaire_name, version, is_enable, create_person, create_time
  </sql>
  
  <select id="selectQuestionnaireList" parameterType="priv.guochun.psmc.website.backstage.questionnaire.model.TabQuestionnaire" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_questionnaire
  </select>
  
  <select id="loadQuestionnaire" resultType="java.util.Map">
  	select questionnaire_uuid as ID, questionnaire_name as NAME from tab_questionnaire where is_enable = 1
  </select>
  
  <insert id="insertQuestionnaire" parameterType="priv.guochun.psmc.website.backstage.questionnaire.model.TabQuestionnaire">
    insert into tab_questionnaire (questionnaire_uuid, questionnaire_name, 
      version, is_enable, create_person, 
      create_time)
    values (#{questionnaireUuid,jdbcType=VARCHAR}, #{questionnaireName,jdbcType=VARCHAR}, 
      #{version,jdbcType=SMALLINT}, #{isEnable,jdbcType=SMALLINT}, #{createPerson,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertQuestionnaireSelective" parameterType="priv.guochun.psmc.website.backstage.questionnaire.model.TabQuestionnaire">
    insert into tab_questionnaire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionnaireUuid != null">
        questionnaire_uuid,
      </if>
      <if test="questionnaireName != null">
        questionnaire_name,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionnaireUuid != null">
        #{questionnaireUuid,jdbcType=VARCHAR},
      </if>
      <if test="questionnaireName != null">
        #{questionnaireName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=SMALLINT},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateQuestionnaire" parameterType="priv.guochun.psmc.website.backstage.questionnaire.model.TabQuestionnaire">
    update tab_questionnaire
    <set>
      <if test="record.questionnaireName != null">
        questionnaire_name = #{questionnaireName,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{version,jdbcType=SMALLINT},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{isEnable,jdbcType=SMALLINT},
      </if>
      <if test="record.createPerson != null">
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where questionnaire_uuid = #{questionnaireUuid,jdbcType=VARCHAR}
  </update>
  
</mapper>