<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                        http://www.springframework.org/schema/cache
                        http://www.springframework.org/schema/cache/spring-cache-4.2.xsd"
       default-lazy-init="false" default-autowire="byName">
    <!-- 配置文件加载 -->
    <cache:annotation-driven cache-manager="cacheManager"/>
    <!-- redis连接池 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis_maxIdle}" />
        <property name="maxWaitMillis" value="${redis_maxWait}" />
        <property name="testOnBorrow" value="${redis_testOnBorrow}" />
    </bean>
    <!-- 连接工厂 -->
    <bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="${redis_host}" p:port="${redis_port}" p:password="${redis_pass}" p:pool-config-ref="poolConfig"/>
    <!-- redis模板 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="JedisConnectionFactory" />
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <!-- 这里可以配置多个redis -->
                <bean class="priv.guochun.psmc.system.framework.cache.RedisCache">
                    <property name="redisTemplate" ref="redisTemplate" />
                    <property name="name" value="redisCache"/>
                    <!-- name对应的名称要在类或方法的注解中使用 -->
                </bean>
            </set>
        </property>
    </bean>

    <!--自定义psmc缓存工厂-->
    <bean id="psmcCacheFactory" class="priv.guochun.psmc.system.framework.cache.PsmcCacheFactoryImpl"/>

    <!--缓存数据加载接口 -->
    <bean id="psmcInitCacheTool" class="priv.guochun.psmc.system.framework.cache.PsmcInitCacheToolImpl"/>

    <!--缓存定时加载 -->
    <bean id="initCacheTask" class="priv.guochun.psmc.system.framework.cache.InitCacheTask"/>


</beans>
