@CHARSET "UTF-8";
.fh5co-cover-intro{
		text-align: center !important;
		margin-top: 18%;
	}
	.crContent{
		font-family: "STHeiti Light" !important;
		font-size: 15px !important;
		color: #DAA520;
	}
	.comContentDiv{
		margin-bottom: 100px;
	}
	.compCulture{
		width: 80%;
		height: 20px;
		border-bottom: 1.5px solid #ddd;
		margin: 30px auto;
		text-align: center;
	}
	.compCuContent{
		width: 200px;
		display: inline-block;
		background-color: #F5F5F5;
		font-weight: 500;
		line-height: 1.1;
		font-size: 24px;
	}
	.fh5co-cover-style-2{
		min-height: 500px !important;
		background-image: url(../images/full_1_1.jpg);
	}
	.cover-text-lead{
		font-weight: 500 !important;
		margin-bottom: 0;
	}
	.companyEN{
		display: block;
		font-family: "Microsoft YaHei","微软雅黑";
		font-size: 23px;
		font-weight: 100;
		line-height: 37.15px;
		opacity: 0.6;
		color: #fff;
	}
	.companyLine{
		border-top-style: solid;
		border-top-color: rgb(255, 255, 255);
		border-top-width: 2px;
		display: block;
		width: 80px; 
		margin: 20px auto;
	}
	
	.teamImg{
		display: block;
		width: 100%;
		height: 100%;
	}
	
	