<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//  
EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="priv.guochun.psmc.authentication.operate.model.TabOperate">  
    
    
   	<select id="getTabOperatesByCondition" resultType="java.util.Map" parameterType="hashmap">
   			SELECT * FROM  tab_operate a left join tab_role_operate B
   			on a.uuid=b.operate_uuid
   			<where>
   				<if test="roleUuid !=null">
   					and b.role_uuid = #{roleUuid}
   				</if>
   				<if test="resourceUuid !=null">
   					and a.resource_uuid = #{resourceUuid}
   				</if>
   			</where>
   	</select>
   	
   	<select id="getPermitOperatesByRoleUuid" resultType="java.util.Map" parameterType="hashmap">
   				SELECT
					concat(D.ROLE_ID,'_',B.FUN_CLASS,'_',B.FUN_METHOD)  AS R_CLASS_METHOD,
					concat(D.ROLE_ID,'_',B.OPERATE_NO)  AS R_OPERATE_NO,
					A.UUID AS RESOURCE_UUID,A.RESOURCE_NAME,A.RESOURCE_TYPE,B.UUID AS OPERATE_UUID,B.FUN_CLASS,B.FUN_METHOD,B.OPERATE_NO,
					C.PRIVILEGE_ID,C.PRIVILEGE_NAME,d.ROLE_ID FROM  TAB_RESOURCE A,TAB_OPERATE B,TAB_PRIVILEGE C ,TAB_ROLE_RESOURCE D,TAB_ROLE_OPERATE E
					WHERE A.UUID=B.RESOURCE_UUID AND B.PRIVILEGE_UUID=C.UUID 
					AND a.UUID = d.RESOURCE_ID AND d.ROLE_ID=e.ROLE_UUID 
					AND b.UUID = e.OPERATE_UUID
		 		<if  test="roleId != null">
		 				AND D.ROLE_ID=#{roleId}		
		 		</if>
   	</select>
   	
   	
   	<delete id="deleteTabOperatesByResourceUuid"  parameterType="hashmap">
   			delete from TAB_OPERATE where 1=1
   			<if test="resourceUuid != null">
	  			and RESOURCE_UUID =#{resourceUuid}
	  		</if>
   	</delete>
   	
   	<select id="getTabOperateOrderNum" resultType="integer">
   		SELECT max(A.ORDERNUM)+1 AS ORDERNUM FROM (SELECT ORDERNUM FROM tab_operate GROUP BY ORDERNUM) AS A
   	</select>
   	
   	<select id="getTabOperatesByResourceUuid" parameterType="hashmap" resultType="hashmap">
   		SELECT
			B.uuid,
			A.resource_name "resourceName",
			B.operate_name "operateName",
			B.fun_class "funClass",
			B.fun_method "funMethod",
			B.ordernum,
			B.operate_desc "operateDesc",
			B.privilege_uuid "privilegeUuid",
			C.privilege_name "privilegeName"
		FROM
		tab_resource A
		INNER JOIN tab_operate B 
		ON A.uuid = B.resource_uuid
		LEFT JOIN 
		tab_privilege C
		ON B.privilege_uuid = C.uuid
		WHERE A.uuid = #{resourceUuid}
		ORDER BY B.ordernum ASC
   	</select>
   	
   	<insert id="saveResOperateConfig" parameterType="priv.guochun.psmc.authentication.operate.model.TabOperate">
   		INSERT INTO tab_operate (uuid,resource_uuid,privilege_uuid,fun_class,fun_method,operate_name,
   		operate_desc,ordernum,operate_no) VALUES (#{uuid},#{resourceUuid},#{privilegeUuid},#{funClass},
   		#{funMethod},#{operateName},#{operateDesc},#{ordernum},#{operateNo})
   	</insert>
   	
   	<update id="updateResOperateConfig" parameterType="priv.guochun.psmc.authentication.operate.model.TabOperate">
   		UPDATE tab_operate 
  		<trim prefix="set" suffixOverrides=",">
	  		<if test="privilegeUuid != null">
	  			privilege_uuid =#{privilegeUuid},
	  		</if>
	  		<if test="funClass != null">
	  			fun_class =#{funClass},
	  		</if>
	  		<if test="funMethod != null">
	  			fun_method =#{funMethod},
	  		</if>
	  		<if test="operateName != null">
	  			operate_name =#{operateName},
	  		</if>
	  		<if test="operateDesc != null">
	  			operate_desc =#{operateDesc},
	  		</if>
	  		<if test="ordernum != null">
	  			ORDERNUM =#{ordernum},
	  		</if>
  		</trim>
  		where uuid = #{uuid}
   	</update>
   	
   	<delete id="deleteOperate" parameterType="hashmap">
   		DELETE FROM tab_operate WHERE uuid = #{operateUuid}
   	</delete>

</mapper>  